<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://raw.githubusercontent.com/wq/wq.app/master/js/wq/chart.js"></script>
    </head>
    <body>
        <h1>Hello World!</h1>
        <em>{{ current_time }}</em>
    </body>
</html>
