<!DOCTYPE html>
<html>

<head>
    <title>Test Report</title>
    <style>
        body {
            background-color: transparent;
        }
        
        em {
            color: LightSeaGreen;
        }
        
        td,
        th {
            padding: 1px 4px;
        }
    </style>
    <script data-main="/static/secureporter/scripts/main.js" src="/static/secureporter/scripts/require.js"></script>
</head>

<body>
    <h1>Raw data of collected logs</h1>
    <em>{{ current_time }}</em>
    <hr>
    <p>Select date</p>
    <div align="left" id="datesetting">
        From : <input type="date" name="date_start" id="date_start" /> To : <input type="date" name="date_end" id="date_end"
        />
        <p></p>
        <input type="button" id="renderReport" value="Render report" />
        <p></p>
        <input type="button" id="clearRecords" value="Clear all data" />
    </div>
    <hr>
    <div id="result">
        <h1>Summary</h1>
        <p></p>
        <div>
            Total count:
            <span id="total_count"></span>
            <br/> Fail count:
            <span id="fail_count"></span>
            <br/> Fail rate:
            <span id="fail_rate"></span>
        </div>
        <hr>
        <h1>Response trend chart</h1>
        <p></p>
        <div id="chart">
        </div>
        <hr>
        <h1>Raw data</h1>
        <p></p>
        <div id="raw_table">
        </div>
    </div>
</body>

</html>