<!DOCTYPE html>
<html>

<head>
    <title>Test Report</title>
    <style>
        body {
            background-color: lightyellow;
        }
        
        em {
            color: LightSeaGreen;
        }
        
        td,
        th {
            padding: 1px 4px;
        }
    </style>
    <script data-main="/static/secureporter/scripts/main.js" src="/static/secureporter/scripts/require.js"></script>
</head>

<body>
    <h1>Raw data of collected logs</h1>
    <em>{{ current_time }}</em>
    <p>
    <div id="result">
        Fail rate:
        <span id="fail_rate"></span>
    </div>
</body>

</html>